header {
  background-image: url(./Img/andrea-cau-nV7GJmSq3zc-unsplash\ 6.png);
  background: cover;
  height: 688px;
}
.row {
  height: 100%;
}
.container {
  height: 100%;
}
.textInImage {
  padding-right: 492px;
  font-family: Hind Madurai;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  color: white;
}
.parInImage {
  color: white;
}
